<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56689873366-jq0hpnop3okm6lhflnobkdvq46kgh8vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56689873366-jq0hpnop3okm6lhflnobkdvq46kgh8vn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>56689873366-4njpmjdlc0t2ksf91e5ufppi4dp9k272.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAW3zJp4HN8oZm1P8RsABJdta5zviZPKXs</string>
	<key>GCM_SENDER_ID</key>
	<string>56689873366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.themarinator</string>
	<key>PROJECT_ID</key>
	<string>pregamers-dd423</string>
	<key>STORAGE_BUCKET</key>
	<string>pregamers-dd423.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56689873366:ios:39491d79ad36943e621477</string>
	<key>DATABASE_URL</key>
	<string>https://pregamers-dd423.firebaseio.com</string>
</dict>
</plist>